[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/venkat-github
[access "refs/for/refs/*"]
	read = group user/venkat-github
	push = group user/venkat-github
	label-Code-Review = -2..+2 group user/venkat-github
	label-Verified = -1..+1 group user/venkat-github
	rebase = group user/venkat-github
	removeReviewer = group user/venkat-github
	submit = group user/venkat-github
[access "refs/heads/*"]
	read = group user/venkat-github
	create = group user/venkat-github
	push = +force group user/venkat-github
	pushMerge = group user/venkat-github
[access "refs/tags/*"]
	push = +force group user/venkat-github
	pushTag = group user/venkat-github
	pushSignedTag = group user/venkat-github
